body { background: #f6b840; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 38px; display: flex; }
.block-invoice-0 { color: #fd324d; font-size: 15px; margin-bottom: 5px; }
.block-filter-1 { color: #24b415; font-size: 12px; margin-bottom: 5px; }
.block-payment-2 { color: #f9426b; font-size: 14px; margin-bottom: 5px; }
.block-filter-3 { color: #ba2a12; font-size: 20px; margin-bottom: 5px; }
.block-logger-4 { color: #61a00d; font-size: 13px; margin-bottom: 5px; }
.block-router-5 { color: #83b111; font-size: 21px; margin-bottom: 5px; }
.block-validator-6 { color: #1f27f6; font-size: 15px; margin-bottom: 5px; }
.block-config-7 { color: #69b3f; font-size: 20px; margin-bottom: 5px; }